.flex-container {
  display: flex;
}

.fd-column {
  flex-direction: column;
  height: 100%;
}

.active-grid-element {
  background-color: pink;
}

.flex {
  flex: 1;
}

.fill-height {
  height: 85vh;
}

.border-black {
  border: solid black;
}

.generate-btn{
  margin-bottom: 10px;
}
